.countriesContainer {
  display: grid;
  grid-template-columns: 50% 50%;
}

.region {
  display: flex;
}

.countries {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 1px solid black;
}

.countries:nth-child(even) {
  background-color: red;
}

.countries:nth-child(odd) {
  background-color: crimson;
}

.countries:hover {
  cursor: pointer;
}

.images {
  width: 100px;
}
