.container {
  display: grid;
  grid-template-columns: 50% 50%;
  animation-name: container;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
}

@keyframes container {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.stats {
  background-color: #35548b;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding: 0 10px;
  font-size: 0.8em;
}

.regions {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.regions:nth-child(2),
.regions:nth-child(3),
.regions:nth-child(6) {
  background-color: #32528a;
}

.regions:nth-child(1),
.regions:nth-child(4),
.regions:nth-child(5) {
  background-color: #4368b0;
}

.regions:hover {
  cursor: pointer;
}

.names {
  text-align: right;
  color: white;
  font-family: 'Gill Sans', sans-serif;
}

.images {
  width: 100%;
  height: 100px;
}

@media only screen and (min-width: 500px) {
  .container {
    grid-template-columns: 33% 33% 33%;
  }

  .regions:nth-child(odd) {
    background-color: #4368b0;
  }

  .regions:nth-child(even) {
    background-color: #32528a;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    justify-items: center;
  }

  .regions {
    border: 1px solid black;
  }

  .regions:nth-child(even) {
    background-color: #4368b0;
  }

  .images {
    height: 150px;
  }

  .stats {
    font-size: 1.2em;
  }

  .regions:hover {
    background-color: #32528a;
    box-shadow: 0 0 10px 5px #32528a;
    transition: all 0.5s ease-in-out;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    gap: 20px;
  }

  .images {
    height: 250px;
  }

  .regions {
    width: 240px;
    max-width: 340px;
    height: 300px;
  }
}

@media only screen and (min-width: 1440px) {
  .regions {
    width: 330px;
  }

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 1.5em;
  }
}
