@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@font-face {
  font-family: 'Gill Sans';
  src: url('./fonts/GillSans/Gill\ Sans.otf');
  src: url('./fonts/GillSans/Gill\ Sans\ Bold.otf');
  src: url('./fonts/GillSans/Gill\ Sans\ Bold\ Italic.otf');
  src: url('./fonts/GillSans/Gill\ Sans\ Heavy.otf');
  src: url('./fonts/GillSans/Gill\ Sans\ Heavy\ Italic.otf');
  src: url('./fonts/GillSans/Gill\ Sans\ Italic.otf');
  src: url('./fonts/GillSans/Gill\ Sans\ Light.otf');
  src: url('./fonts/GillSans/Gill\ Sans\ Light\ Italic.otf');
  src: url('./fonts/GillSans/Gill\ Sans\ Medium.otf');
  src: url('./fonts/GillSans/Gill\ Sans\ Medium\ Italic.otf');
  src: url('./fonts/GillSans/GillSans\ Condensed\ Bold.otf');
  src: url('./fonts/GillSans/GillSans\ Condensed.otf');
}

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}
